{% extends 'base.html' %}
{% load static %}
{% block title %}
create_tocket
{% endblock %}
{% block content %}
<!--Page Title-->
<section class="page-title" style="background-image: url(images/background/3.jpg);">
    <div class="auto-container">
        <ul class="bread-crumb">
            <li><a href="{% url 'home:main' %}">Home</a></li>
            <li class="active">Create Ticket</li>
        </ul>
        <h1>Create Ticket</h1>
    </div>
</section>
<!--End Page Title-->

<!--Feedback-->
<div class="feedback-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Side-->	
            <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <!--Feedback Form-->
                <div class="default-form feedback-form">
                    <!--Sec Title Two-->
                    <div class="sec-title-two">
                        <h2>Create Ticket</h2>
                    </div>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="row clearfix">
                            <!--Form Group-->
                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                <div class="field-label">subject <sup>*</sup></div>
                                <input type="text" name="subject" value="" placeholder="" required>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                <div class="field-label">Phone Brand <sup>*</sup></div>
                                <input type="text" name="phone_brand" value="" placeholder="" required>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                <div class="field-label">Phone Model <sup>*</sup></div>
                                <input type="text" name="phone_model" value="" placeholder="" required>
                            </div>
                            <!--Form Group-->
                            <div class="form-group col-lg-12 col-sm-12 col-xs-12">
                                <div class="field-label">Tell us a little information about your problem<sup>*</sup></div>
                                <textarea name="discrip" placeholder=""></textarea>
                            </div>
                            <!--Form Group-->
                            <div class="form-group text-left col-md-12 col-xs-12"><button type="submit" class="theme-btn btn-style-three">Create</button></div>
                        </div>
                    
                    </form>
                </div>
            </div>
            <!--Content Side-->
        </div>
    </div>
</div>
{% endblock %}