{% extends 'base.html' %}
{% load static %}
{% block title %}
service_form
{% endblock %}
{% block content %}
<!--Page Title-->
<section class="page-title" style="background-image: url(images/background/3.jpg);">
    <div class="auto-container">
        <ul class="bread-crumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Features</li>
            <li class="active">Faq</li>
        </ul>
        <h1>Faq</h1>
    </div>
</section>
<!--End Page Title-->
<!--Faq Section-->
<div class="faqs-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Side-->	
            <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <!--Question Block-->
                <div class="question-block">
                    <h3>Q. Can the Mac & PC Doctors upgrade my computer?</h3>
                    <div class="text">Philosophy will decieve against victorious selfish ocean morality. Ideal moral snare eternal-return hatred faithful derive convictions disgust fearful law passion against justice. Justice reason marvelous ocean convictions overcome passion aversion insofar snare be ultimate. Madness disgust decrepit oneself ultimate sea ubermensch gains against aversion.</div>
                </div>
                
                <!--Question Block-->
                <div class="question-block">
                    <h3>Q. How does your warranty plan work?</h3>
                    <div class="text">Selfish derive transvaluation ocean enlightenment society. Noble enlightenment noble self noble morality virtues christian will ultimate spirit hatred mountains. Of right convictions society passion intentions merciful inexpedient transvaluation faith. Revaluation snare abstract hope deceptions transvaluation.</div>
                </div>
                <div class="feedback-section">
                    <div class="auto-container">
                        <div class="row clearfix">
                            <!--Content Side-->	
                            <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <!--Feedback Form-->
                                <div class="default-form feedback-form">
                                    <!--Sec Title Two-->
                                    <div class="sec-title-two">
                                        <h2>Give Us Your Feedback</h2>
                                    </div>
                                    <form method="post" action="contact.html">
                                        <div class="row clearfix">
                                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                                <div class="field-label">First Name <sup>*</sup></div>
                                                <input type="text" name="username" value="" placeholder="" required>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                                <div class="field-label">Last Name <sup>*</sup></div>
                                                <input type="text" name="username" value="" placeholder="" required>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                                <div class="field-label">E-Mail <sup>*</sup></div>
                                                <input type="email" name="email" value="" placeholder="" required>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                                <div class="field-label">Phone <sup>*</sup></div>
                                                <input type="text" name="phone" value="" placeholder="" required>
                                            </div>
                                            <div class="form-group col-lg-12 col-sm-12 col-xs-12">
                                                <div class="field-label">Reason to Choose Us? <sup>*</sup></div>
                                                <textarea name="message" placeholder=""></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--Content Side--> 
                            <!-- Sidebar / Info Culumn -->	
                            <div class="info-culumn col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <!--Default Info Box-->
                                <div class="default-info-box">
                                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                        <div class="icon-box">
                                            <span class="icon flaticon-pin-1"></span>
                                        </div>
                                        <h3>Address</h3>
                                        <div class="text">123 Western Street, Sydney, Australia</div>
                                    </div>
                                </div>
                                
                                <!--Default Info Box-->
                                <div class="default-info-box">
                                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                        <div class="icon-box">
                                            <span class="icon flaticon-technology"></span>
                                        </div>
                                        <h3>Phone Number</h3>
                                        <div class="text">+ 456 789 0321</div>
                                    </div>
                                </div>
                            </div>
                            <!--Sidebar-->  
                        </div>
                    </div>
                </div>
            <!--Content Side-->    
        </div>
    </div>
</div>
{% endblock %}