{% load static %}
<!--Mian footer-->
<section class="main-footer">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Big Column-->
            <div class="big-column col-md-6 col-sm-12 col-xs-12">
                <div class="row clearfix">
                
                    <!--Footer Column-->
                    <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                        <!--Footer Widget-->
                        <div class="footer-widget logo-widget">
                            <!--Footer Logo-->
                            <div class="footer-logo">
                                <a href="index.html"><img src="images/logo.png" alt="" /></a>
                            </div>
                            <div class="text">Ascetic mountains hatred truth hope victorious sexuality ocean and abstract inexpedient noble burying faith. Merciful madness of  sea decieve derive.</div>
                            <ul class="social-links-one">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google-plus" href="#"></a></li>
                                <li><a class="fa fa-pinterest-p" href="#"></a></li>
                                <li><a class="fa fa-rss" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                        <!--Recent Widget-->
                        <div class="footer-widget recent-widget">
                            <h2>Recent Posts</h2>
                            <div class="post">
                                <div class="text"><a href="#">Holiest good oneself endless ubermensch virtues convictions virtues noble horror. </a></div>
                                <div class="meta"><a href="#">By Don Alex August 15</a></div>
                            </div>
                            <div class="post">
                                <div class="text"><a href="#">Holiest good oneself endless ubermensch virtues convictions virtues noble horror. </a></div>
                                <div class="meta"><a href="#">By Andrew Steve August 15</a></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!--Big Column-->
            <div class="big-column col-md-6 col-sm-12 col-xs-12">
                <div class="row clearfix">
                
                    <!--Footer Column-->
                    <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                        <!--In Touch-->
                        <div class="footer-widget in-touch">
                            <h2>GET IN TOUCH</h2>
                            <ul>
                                <li><span>Email:</span><br>info@naplesphonerepair.com</li>
                                <li><span>Address:</span><br>123 Western Street, Sydney, Australia</li>
                            </ul>
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                        <!--Number Widget-->
                        <div class="footer-widget number-widget">
                            <h3><span class="icon flaticon-technology"></span> +456 789 0321</h3>
                            <div class="text">Call Us Free, We are 24/7 Available</div>
                        </div>
                    </div>
                    
                    <!--Map Image-->
                    <div class="map-image">
                        <img src="images/resource/map.png" alt="" />
                    </div>
            
                </div>
            </div>
            
        </div>
        
        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="outer-box">
                
                    <div class="row clearfix">
                        <!--Footer Nav-->
                        <nav class="footer-nav pull-right">
                            <ul class="clearfix">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                        
                        <!--Copyright-->
                        <div class="copyright pull-left">Copyright &copy;; 2016 Naples Phone Repair. All Rights Reserved</div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>

<!--Search Popup-->
<div id="search-popup" class="search-popup">
<div class="close-search theme-btn"><span class="flaticon-unchecked"></span></div>
<div class="popup-inner">

    <div class="search-form">
        <form method="post" action="index.html">
            <div class="form-group">
                <fieldset>
                    <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                    <input type="submit" value="Search" class="theme-btn">
                </fieldset>
            </div>
        </form>
        
        <br>
        <h3>Recent Search Keywords</h3>
        <ul class="recent-searches">
            <li><a href="#">Business</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">SEO</a></li>
            <li><a href="#">Logistics</a></li>
            <li><a href="#">Freedom</a></li>
        </ul>
    
    </div>
    
</div>
</div>