{% load static %}
<!--Mian footer-->
<section class="main-footer">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Big Column-->
            <div class="big-column col-md-6 col-sm-12 col-xs-12">
                <div class="row clearfix">
                
                    <!--Footer Column-->
                    <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                        <!--Footer Widget-->
                        <div class="footer-widget logo-widget">
                            <!--Footer Logo-->
                            <div class="footer-logo" style="margin-top:-3.5em;">
                                <a href="#"><img src="{% static "images/Untitled_footer(3).png" %}" alt="amir" width="200" height="150"/></a>
                            </div>
                            <div class="text"  style="margin-top:-3.5em;">At TVOXY (Tech Cell limited), we are dedicated to making technology more sustainable. Our company specializes in refurbishing smartphones and other electronic devices, giving them a second life while reducing electronic waste and minimizing carbon footprint. By collecting and restoring old or damaged devices, we contribute to a healthier environment and a more sustainable future.</div>
                            <ul class="social-links-one">
                                <li><a class="fa fa-youtube" href="https://www.youtube.com/@TVOXY"></a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                        <!--Recent Widget-->
                        <div class="footer-widget recent-widget">
                            <h2>Support</h2>
                            <div class="post">
                                <div class="text"><a href="{% url 'blog:article_list' %}">blog</a></div>
                                <div class="text"><a href="{% url 'contactus:contactus_main' %}">contact us</a></div>
                                <div class="text"><a href="{% url 'service_app:service_attr' %}">Online Support</a></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!--Big Column-->
            <div class="big-column col-md-6 col-sm-12 col-xs-12">
                <div class="row clearfix">
                
                    <!--Footer Column-->
                    <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                        <!--In Touch-->
                        <div class="footer-widget in-touch">
                            <h2>sell</h2>
                            <ul style="margin-left: -1.8em;">
                                {% for cate in category %}
                                <li>Sell {{cate.title}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                        <!--Number Widget-->
                        <div class="footer-widget number-widget">
                            <h3><span class="icon flaticon-technology"></span>07777239555</h3>
                            <div class="text">Monday to Friday 9am to 5pm</div>
                        </div>
                    </div>
                    
                    <!--Map Image-->
                    <div class="map-image">
                        <img src="" alt="" />
                    </div>
            
                </div>
            </div>
            
        </div>   
        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="outer-box">
                
                    <div class="row clearfix">
                        <!--Footer Nav-->
                        <nav class="footer-nav pull-right">
                            <ul class="clearfix">
                                <li><a href="{% url 'about_us_app:about_us' %}">About us</a></li>
                                <li><a href="{% url 'blog:article_list' %}">Blog</a></li>
                            </ul>
                        </nav>
                        
                        <!--Copyright-->
                        <div class="copyright pull-left">Copyright &copy;; 2025 Tvoxy Shop . All Rights Reserved</div>
                        
                    </div>
                </div>
            </div>
        </div>     
    </div>
</section>

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>

<!--Search Popup-->
<div id="search-popup" class="search-popup">
<div class="close-search theme-btn"><span class="flaticon-unchecked"></span></div>
<div class="popup-inner">

    <div class="search-form">
        <form method="get" action="{% if request.resolver_match.url_name == 'shop_main' %}{% url 'shop:search' %}{% endif %}{% if request.resolver_match.url_name == 'main_sell' %}{% url 'sell:search' %}{% endif %}{% if request.resolver_match.url_name == 'repair' %}{% url 'repair_app:search' %}{% endif %}" id="parent_id">
            <div class="form-group">
                <fieldset>
                    <input type="search" class="form-control" name="q" value="" placeholder="Search Here" required >
                    <input type="submit" value="Search" class="theme-btn">
                </fieldset>
            </div>
        </form>    
    </div>
    
</div>
</div>