{% load static %}
 <!--Header-Lower-->
        <div class="header-lower">
        	<!--Background Layer-->
            <div class="bg-layer"></div>
            
            <div class="auto-container">
            	<div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="{% if request.resolver_match.url_name == 'main' %}current{% endif %}"><a href="{% url 'home:main' %}">Home</a></li>
                                <li class="{% if request.resolver_match.url_name == 'sell' %}current{% endif %}"><a href="{% url 'about_us_app:comeing_soon' %}">Sell</a>
                                    <li class="{% if request.resolver_match.url_name == 'shop_main' %}current{% endif %}"><a href="{% url 'shop:shop_main' %}">Shop</a>
                                    <li class="{% if request.resolver_match.url_name == 'business' %}current{% endif %}"><a href="{% url 'business_app:business' %}">Business</a></li>
                                <li class="{% if request.resolver_match.url_name == 'repair' %}current{% endif %}"><a href="{% url 'repair_app:repair' %}">Repair</a></li>
                                </li>
                                <li class="{% if request.resolver_match.url_name == 'charity_main' %}current{% endif %}"><a href="{% url 'charity:charity_main' %}">Charity</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                
                	<div class="btn-outer"><a href="#" class="search-btn search-box-btn"><span class="icon fa fa-search"></span></a></div>
                	<div class="btn-outer" style="position: absolute;left: 71em;"><a href="{% if request.user.is_authenticated %}{% url 'account:profile' %}{% else %}{% url 'account:otp' %}{% endif %}" class="search-btn"><span class="icon fa fa-user"></span></a></div>
                	<div class="btn-outer" style="position: absolute;left: 68em;"><a href="{% url 'about_us_app:comeing_soon' %}" class="search-btn"><img src="{% static "images/shopping-cart-svg-png-icon-download-28.png" %}" width="18em" height="13em" alt=""></a></div>                 
                </div>
            </div>
        </div>
        
        
        <!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	<!--Logo-->
            	<div class="logo pull-left">
                	<a href="{% url 'home:main' %}" class="img-responsive"><img src="{% static "images/Untitled(3).png" %}" width="80em" height="80em" alt="Naples" style="margin-top: -1em;"></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="{% if request.resolver_match.url_name == 'main' %}current{% endif %}"><a href="{% url 'home:main' %}">Home</a></li>
                                <li class="{% if request.resolver_match.url_name == 'sell' %}current{% endif %}"><a href="{% url 'about_us_app:comeing_soon' %}">Sell</a>
                                    <li class="{% if request.resolver_match.url_name == 'shop_main' %}current{% endif %}"><a href="{% url 'shop:shop_main' %}">Shop</a>
                                    <li class="{% if request.resolver_match.url_name == 'business' %}current{% endif %}"><a href="{% url 'business_app:business' %}">Business</a></li>
                                <li class="{% if request.resolver_match.url_name == 'repair' %}current{% endif %}"><a href="{% url 'repair_app:repair' %}">Repair</a></li>
                                </li>
                                <li class="{% if request.resolver_match.url_name == 'charity_main' %}current{% endif %}"><a href="{% url 'charity:charity_main' %}">Charity</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div><!--End Bounce In Header-->