{% load static %}
<script src="{% static "js/jquery.js" %}"></script> 
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/revolution.min.js" %}"></script>
<script src="{% static "js/jquery.fancybox.pack.js" %}"></script>
<script src="{% static "js/owl.js" %}"></script>
<script src="{% static "js/slick.js" %}"></script>
<script src="{% static "js/slick.js" %}"></script>
<script src="{% static "js/wow.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
<script src="{% static "js/jquery.bootstrap-touchspin.js" %}"></script>
<script src="{% static "js/jquery.easing.min.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script></body>
