{% extends 'base.html' %}
{% load static %}
{% block title %}
Comeing Soon
{% endblock %}
{% block content %}
<section class="technician-section">
    <div class="auto-container">
        <div class="sec-title-one">
            <div class="explosion">ðŸŽ‰</div>
            <h2>New Website Coming Soon</h2>
            <div>Reviving Technology, Protecting the Planet.We specialize in professional refurbishment and repair of smartphones, laptops, and tablets giving old devices a new life while reducing e waste and minimizing environmental impact. Fast, reliable, and sustainable solutions for individuals and businesses alike.
            </div>
        </div>
    </div>
</section>
{% endblock %}